.footer {
    width: 100%;
    background-color: black;
    /* margin-top: 100px; */
}

.default-container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    /* background-color: brown; */
}

.footer-inner {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    align-items: center;    
    padding: 13px 0;
    margin: 0 auto;
}


.address {
    margin-left: 35px;
}

.footer p {
    color: #fff;
}

.copyright {
    /* background-color: #fff; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: translateX(-50px);
    width: 30%;
    /* flex-basis: 30%; */
}

.copyright p:first-child {
    margin: 10px 0 5px 0;
}

.copyright p:last-child {
    margin: 5px 0 10px 0;
}

.soc {
    display: flex;
    align-items: center; 
    justify-content: space-around;
    margin-right: 35px;
}

.soc li {
    list-style-type: none;
    margin-right: 15px;
}

.soc li:last-child {
    margin-right: 0;
}
@media (max-width: 767px){
    .address {
        margin: 15px 0 7.5px 0;
        width: 100%;
    }
    .footer-items {
        width: 30%;
        margin: 7.5px auto 15px; 
    }
    .copyright {
        margin: 2.5px 0 5px;
        width: 100%;
        transform: translateX(0);
    }
}


@media (max-width: 320px){
    .footer {
        width: 100%;
        margin: 0 auto;
    }
}
/* .footer {
    background-color: #3a3e64;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.footer__inner {
    display: flex;
    flex-wrap: wrap;
    padding: 70px 0;
} */
