* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100%;
  /* background-color: #ccf2f4; */
  background-color: silver;
}

.sticky {
  /* background-color: black; */
  width: 100%;
}

.apartments-component {
  margin: 25px;
}

